{{title}}

<br>

<button (click)="handleClick()">Click me!</button>

<br>

<input type="text" [value]="title">

<br>

<input type="text" [(ngModel)]="title">

<br>

<ul>
    <ng-container *ngFor="let item of listOfStrings">
        <ng-container *ngTemplateOutlet="testTemplate; context:{ $implicit: item}"></ng-container>
    </ng-container>
</ul>

<!-- <div class="blue-div" *ngIf="showDiv"></div> -->


<div class="samle-div" [ngClass]="{'blue-div': showDiv}"></div>


<ng-template #testTemplate let-itemAlias>
    <li>
        {{itemAlias}}
    </li>
</ng-template>